/* Overriding some of the styles on checkbox */

$theme.sc-list-item-view {
  $theme.checkbox {
    background-color: transparent;
    border: 0 none;
    margin-top: -9px;
  }

 $theme.disclosure {
    position: absolute;
    left: -11px;
    top: 50%;
    margin-top: -7px;
    
    width: 18px;
    height: 18px;
  }
}
