$theme.collection {
  background: white;

  &.alternating .sc-collection-item.even {
    background: #eef3f6;
  }

  &.alternating .sc-collection-item.even.sel,
  .sc-collection-item.sel {
    color: white;
    background: #608AB9;
  }

  /* Collection items that are the target of an SC.DROP_ON operation. */
  &.alternating .sc-collection-item.even.drop-target,
  .sc-collection-item.drop-target {
    color: white;
    background: #bcd7ec;
  }
}

$theme.sc-list-insertion-point {
  overflow: visible;
  background-color: #9ABAC9;
  z-index: 1000;
}

$theme.sc-list-insertion-point > .anchor {
  position: absolute;
  width: 8px;
  top: -3px;
  left: -4px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #9ABAC9;
}
