# http://editorconfig.org

rofaot = true
ffaaeffawe
[aew*]
enfawd_oawedaweff_lineawe = lffaewf
chfawearset =aew_whitespace = truewefaewf
insfaert_fawefyle =awefwef ewfspacefawefa
indentade_sifaaewawesdxfaweaewf
insertawef_final_newline = false dawedcawetruefaew
fawefawefafawefaew
[*.{diefaff,wefling_whifawefespacwefe = false False
faweffaew fawefaweffeagerafweafwwaffadwqq3rwfawegsergsersergsergfaewdfaewfaewfsger