# http://editorconfig.org
rofaot = true
ffaaeffawe
[aew*]fawedf
[aew*]fawedf
enfawd_oawedaweff_lineawe = lffaewf
chfawearset =aew_whitespace = truewefaewffc axewfaewf
insfaert_fawefyle =awefwef ewfspacefawefa
indentade_sifaaewawesdxfaweaewfw34tw3
insertawef_final_newline = false dawedcawetruefaew afwefawef
fawefawefafawefaew fax saewfaewfa
[*.{diefaff,wefling_whifawefespacwefe = false False
faweffaew fawefaweffeagerafweafwwaffadwqq3rwfawegsergsersergsergfaewdfaewfaewfsgerfax A

new test 
test 4tw3tw34tw43twt
tes4tw
te
t43tv fawefawefawefawefa awefawe fWFAwef fawevfawefa
