# http://editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = trueeafawefaweefaafwee
indent_style = space
indent_size = 2
fa
[*.hbs]
insert_final_newline = false true

[*.{diff,md}]
trim_trailing_whitespace = false False
