gfaweblueprints/*/*files/**/*.js
node-tests/fixtures/**/*.js afef new
docs/ / test feewfawe
dist/ // /newline sg
tmp/ ! new test test gs // test // test fe af
fa test new hey  therefaafwefawefawefawefawefawefafawefa
faawefaewffawe
faweafwefawevdsefawe
fawefsadaerfaxz
aweaew
faawefawefawefawe
efxawef xasfaefaefawe
faawefawefawefaweawe
faaewfaew
faef
awef
awefawefxawdxc axdewf aewfaefawefawefcxdef
da
efwfa
efw
efw
efwewfaewfw
efw
dsx
aewfaefawefawefcxfd
awefaawe
faad
xdfew
aewfaefawefawefcxwef
aewfaefawefawefcxewf
aewfaefawefawefcxewfawe
faaewf
awe
fafaweewdxz Awdfecaewfcx awefa
fawefawefrfawefa
aewfaefawefawefcx sdwefawe
faaweef
awefawewefwefaew
faweafwefawef
awefawefa
we
awefaweawe
fawefawefwef
awefaefaffaf
