gfaweblueprints/*/*files/**/*.js
node-tests/fixtures/**/*.js afef new
docs/ / test
dist/ // /newline sg
tmp/ ! new test test gs // test // test fe af
fa test new hey  therefaafwefawefawefawefawefawefafawefa
faawefaewffawe
fawe
fawefsad
awe
faawefawefawefawe
efxawef xasfaefaefawe
faawefawefawefaweawe
faaew
faef
awef
awefawe
fafawe
fawefawefrfawefa
aewfaefawefawefcx sdwefawe
faaweef
awefawewef
awefaweawe
fawefawefwef
awefaefa