gfaweblueprints/*/*files/**/*.js
node-tests/fixtures/**/*.js afef new
docs/ / test
dist/ // /newline sg
tmp/ ! new test test gs // test // test fe af
fa test new hey  therefaafwefawefawefawefawefawefafawefa
faawefaewffawe
faweafwefawe
fawefsad
awe
faawefawefawefawe
efxawef xasfaefaefawe
faawefawefawefaweawe
faaew
faef
awef
awefawe
fafaweewdxz Awdfecaewfcx awefa
fawefawefrfawefa
aewfaefawefawefcx sdwefawe
faaweef
awefawewefwefaew
faweafwefawef
awefawefa
we
awefaweawe
fawefawefwef
awefaefaffaf