*.bpkg
*.gem
*.rbc
.DS_Store
.bpm
.bundle
.config
.github-upload-token
.yardoc
InstalledFiles
_site
_yardoc
assets
assets/bpm_libs.js
assets/bpm_styles.css
bin/
coverage
dist
docs
lib/*/tests/all.js
lib/*/tests/qunit*
lib/bundler/man
pkg
rdoc
spade-boot.js
spec/reports
test/tmp
test/version_tmp
test_*.html
/tests/ember-tests.js
tmp
tmp*.gem
tmp.bpm
tmp.spade
tests/source
