[submodule "apps/showcase"]
	path = apps/showcase
	url = git://github.com/sproutcore/showcase.git
[submodule "apps/greenhouse"]
	path = apps/greenhouse
	url = git://github.com/sproutcore/greenhouse.git
