# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Tell GH to render all tsconfigs in the tsconfig dir correctly.
tsconfig/*.json linguist-language=JSON-with-Comments
