# Docs: https://pnpm.io/npmrc
# https://github.com/emberjs/rfcs/pull/907

# we don't want addons to be bad citizens of the ecosystem
auto-install-peers=false

# we want true isolation,
# if a dependency is not declared, we want an error
resolve-peers-from-workspace-root=false


resolution-mode='highest'
