blueprints/*/*files/
node-tests/fixtures/**/*.js
docs/
**/.*
**/dist/
**/tmp/
**/smoke-tests/
**/types/
**/type-tests/
packages/@handlebars/**/*.l
packages/@handlebars/**/*.yy
CHANGELOG.md
package.json
pnpm-lock.yaml
internal-docs/**/*.md
tracerbench-testing/
packages/@glimmer/syntax/rust-parser/target/
packages/@glimmer/syntax/rust-parser/pkg/
packages/@glimmer/syntax/rust-parser/Cargo.lock
*.pest
*.wasm
