blueprints/*/*files/
node-tests/fixtures/**/*.js
docs/
**/.*
**/dist/
**/tmp/
**/smoke-tests/
**/types/
**/type-tests/
CHANGELOG.md
package.json
pnpm-lock.yaml
internal-docs/**/*.md
packages/@glimmer/syntax/lib/hbs-parser/parser.js
packages/@glimmer/syntax/lib/parser/html5-named-char-refs.js
*.peggy
tracerbench-testing/
