blueprints/*/*files/
node-tests/fixtures/**/*.js
docs/
**/.*
**/dist/
**/tmp/
**/smoke-tests/
**/types/
**/type-tests/
packages/@handlebars/**/*.l
packages/@handlebars/**/*.yy
CHANGELOG.md
package.json
pnpm-lock.yaml
internal-docs/**/*.md
tracerbench-testing/
packages/@glimmer/syntax/target/
packages/@glimmer/syntax/pkg/
packages/@glimmer/syntax/Cargo.lock
packages/@glimmer/syntax/src/
*.pest
*.wasm
