@import "compass/css3";

/* Overrides of the themed horizontal scroller to take it back to a basic black transparent OS X style overlay. */
$theme.sc-overlay-scroller-view.sc-horizontal {

  /* Track */
  .track {
    background: none;
  }

  .cap, .endcap {
    background: none;
  }

  /* Buttons */
  .button-top {
    background: none;
  }

  .button-bottom {
    background: none;
  }

  .button-top:active {
    background: none;
  }

  .button-bottom:active {
    background: none;
  }

  /* Thumb */
  .thumb {
  }

  .thumb-top {
    background: black;
    height: 5px;
  }

  .thumb-clip {
  }

  .thumb-inner {
  }

  .thumb-center {
    background: black;
    width: initial;
    height: 5px;
  }

  .thumb-bottom {
    background: black;
    height: 5px;
  }

}
