<tr ...attributes>
  <td class="col-md-1">{{@item.id}}</td>
  <td class="col-md-4"><a data-test-select {{on "click" this.onSelect}}>{{@item.label}}</a></td>
  <td class="col-md-1">
    <a {{on "click" this.onRemove}} data-test-remove>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
  </td>
  <td class="col-md-6"></td>
</tr>