.sc-ghost-view {
  opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
  -moz-opacity:0.5;
  z-index: 10000;
}