@theme(sc-regular-size) {

  $theme.slider {
    overflow: visible;

    .track {
      position: absolute;
      top: 50%; height: 5px; left: 0; right: 0;
      margin-top: -2px;

      @include slices("../track.png", $left: 3, $right: 3);
    }

    .sc-handle {
      display: block; position: absolute;
      width: 16px; height: 18px; top: 50%; margin-top: -8px;

      @include slice("knob.png");
    }

    &.active {
      .sc-handle { @include slice("knob_active.png"); }
    }

  }

}
