name: Nightly TypeScript Run

jobs:
  ts-next:
    name: typescript@next
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn add -D typescript@next
      - run: yarn type-check

# ...nightly at midnight
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:
